*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	font-family:century gothic, courier, sans serif;
	background-color:#f6f5f3;
	width:100%;
}

/*
home page
*/

header{
	height: 80px;
	background-color:#335f40;
	color:#f6f5f3;
	overflow:hidden;
}

nav {
    padding-left:50px;
}

nav a {
    text-decoration:none;
    font-size:18px;
	color:#f6f5f3;
	display:block;
}

 nav a:hover{
	font-weight:bold;
}

li {
    float:left;
    padding:30px;
}

.main-content{
	height:500px;
	width:100%;
	overflow:hidden;
}

#welcome-note {
    width:40%;
	height:180px;
	padding-top:100px;
	padding-left:80px;
	padding-right:40px;
	float:left;
	color:#335f40;
}

.hero img{
	float: left;
    width: 60%;
}

h1{
	font-size:30px;
	line-height:32px;
}

#welcome-note p {
    letter-spacing: 0.5px;
    padding-top: 10px;
    line-height: 20px;
	font-size:19px;
}

.join-button{
	font-family:century gothic, courier, sans serif;
	height:40px;
	width:110px;
	font-size: 15px;
	color:#475551;
	background-color:#f6f5f3;
	float:right;
	margin-top:20px;
	margin-right:25px ;
	border:0 none;
	border-radius:20px;
}

.join-button:hover{
	font-style:oblique;
}

#history{
	text-decoration:none;
    font-size:18px;
	color:#335f40;
	border-left: 1px solid #335f40;
	padding-left:10px;
}

#history:hover{
	border-left: 3px solid #335f40;
}

footer{
	background-color:rgba(237, 215, 201,0.7);
	height:20px;
	width:100%;
	text-align:center;
	position: fixed;
	left: 0;
	bottom: 0;
	color:#475551;
	line-height:20px;
	font-size:10px;
}

footer a{
	text-decoration:none;
	color:#475551;
}

.event-container{
	padding-top:30px;
	width:100%;
}

.event-details{
	background-color:rgba(237, 215, 201,0.7);
	margin-top:25px;
	margin-bottom:50px;
	padding:20px;
	height:600px;
	width:100%;
}

.event1 {
    width: 40%;
	padding:20px 50px;
	color:#335f40;
	line-height:20px;
	float:right;
}

.event-image{
	width:60%;
	height:auto;
	float:left;
	padding:15px;
	overflow:hidden;
}

h2{
	font-size:25px;
}

.join-event{
	margin-top: 15px;
    height: 50px;
	width:150px;
    font-size: 15px;
    border: none;
	background-color:#ca7c42;
	color:#f6f5f3;
	font-family:century gothic, courier, sans serif ;
}

.join-event:hover{
	font-style:oblique;
}

/*
schedule page
*/

table{
	margin:0 auto;
	font-size:16px;
	width:80%;
	margin:0 10%;
	border-collapse:collapse;
	margin-bottom:50px;
	background-color:rgba(237, 215, 201, 0.7);
	color:#335f40;
}

tr {
    height: 50px;
	width:100%;
}

.table-heading {
    font-size: 30px;
    margin: 40px 0px;
    text-align: center;
}

th, td {
    padding:25px;
    width:120px;
	font-size:16px;
}

.bold{
	font-weight:bold;
}

td:first-child{
	font-weight:bold;
}

td{
	text-align:center;
	vertical-align:middle;
}

td > img{
	height:80px;
	width:80px;
	border:none;
	border-radius:50%;
}

#about-wrapper{
	width:100%;
	margin:50px 0;
	padding:30px 50px;
	height:200px;
	background-color:rgba(237, 215, 201,0.7);
	color:#335f40;
	display:flex;
	font-size:18px;
}

.image-data{
	width:50%;
	padding:20px;
	float:left;
}

.about-data{
	margin-top:10px;
	line-height: 20px;
}

.image-data img{
	width:50%;
	height:auto;
	padding:0 20px;
}

.image-data1 img{
	float:left;
}


.image-data2 img{
	float:right;
}

.contact-details{
	width:100%;
	padding:20px 100px;
	background-color:#335f40;
	color:#edd7ca;
	position:absolute;
	top:500px;
	margin-bottom:50px;
}

.contact1{
	width:50%;
	float:left;
}

.address{
	text-align:right;
	padding-right:40px;
}

.address a{
	text-decoration:none;
	color:#edd7ca;
	font-family: century gothic, courier, sans serif;
}

.address a:hover{
	font-style:oblique;
}

.social{
	text-align:left;
	padding-left:40px;
}

.social img{
	height:25px;
	width:auto;
	margin-top:10px;
	margin-right:4px;
}

.social img:hover{
	height:30px;
}

.hist{
	display:grid;
	grid-gap:2%;
	grid-template-columns:49% 49%;
}

.hist-content {
    padding: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
	margin:0 auto;
	text-align:right;
}

.hist-content h1{
	margin:30px 0;
	padding-top:50px;
}

.history1 p{
	width:70%;
	margin:0 auto;
	height:auto;
	margin-bottom:60px;
}

.hist1{
	grid-column:2;
	margin:0 auto;
	text-align:left;
}

.hist1 p{
	margin:30px;
	letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
	padding-top:50px;
}


.hist img{
	width:70%;
	margin:0 auto;
	height:auto;
	margin-bottom:60px;
}

.hist-content img{
	width:70%;
	margin:0 auto;
	height:auto;
	margin-bottom:60px;
}

@media(max-width:1200px){
	.image-data > p{
			clear:both;
		}
		.image-data > img{
			width:70%;
			margin-bottom:20px;
		}
		.contact-details{
			top:650px;
		}
}

@media(max-width:1024px){
	.join-button{
		visibility:visible;
	}	
	
	li {
		float:left;
	}
	
	#welcome-note{
		padding:15px;
		margin:15px 5%;
		width:90%;
	}
	
	.event-image{
		width:80%;
		margin:0 10%;
	}
	
	.hero img{
		clear:both;
		width:70%;
		margin:8% 15%;
	}
	
	.main-content{
		width:100%;
		height:auto;
	}
	.event-details{
		min-height:100%;
	}
	.event-container{
		width:100%;
	}
	.event1{
		width:50%;
		margin-bottom:50px;
		text-align:center;
	}
	
	.table-heading{
		text-align:center;
		margin:30px 0;
	}
	
	table, thead, tbody,tfoot, tr, th,td{
		all:unset;
	}
	
	table{
		width:80%;
		margin:30px auto;
		background-color:rgba(237, 215, 201, 0.7);
	}
	
	table, thead, tbody, th, td, tr {
			display: block;
		}
		td > img{
			height:30px;
			width:auto;
		}
		 thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		 tr {
			 padding:1em;
			}
		th, td{
			padding-top:10px;
		}
		
		td {
			border: none;
			position: relative;
			height:50px;
			padding-left:30%;
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
		td:nth-of-type(1):before { content: "Yoga"; }
		td:nth-of-type(2):before { content: "Monday"; }
		td:nth-of-type(3):before { content: "Tuesday"; }
		td:nth-of-type(4):before { content: "Wednesday"; }
		td:nth-of-type(5):before { content: "Thursdaay"; }
		td:nth-of-type(6):before { content: "Friday"; }
		td:nth-of-type(7):before { content: "Saturday"; }
		td:nth-of-type(8):before { content: "Sunday"; }
		
		.image-data > p{
			clear:both;
		}
		.image-data > img{
			width:80%;
			margin-bottom:20px;
		}
		.contact-details{
			top:650px;
		}
}

@media(max-width:768px){
	.join-button{
		visibility:hidden;
	}
	
	table{
		width:90%;
		margin:30px auto;
		font-size:18px;
	}
	
	
}

/*
for vertical text
writing-mode:vertical-rl;
text-orientation:upright;


*/
/*
font-sizes
nav
18px


color-codes
#335f40(rgba(51, 95, 64,1))
#ca7c42(rgba(202, 124, 66,1))
#475551
#f6f5f3(rgba(246, 245, 243,1))
#edd7ca(rgba(237, 215, 201,1))

background-colors
#f6f5f3, #335f40, #ca7c42
text-colors
#475551, #edd7ca, #f6f5f3

*/